*{
   box-sizing: border-box;
   margin: 0;
   padding:  0;
   /* cursor: auto; */
   /* cursor: not-allowed; */
}
body{
   display: flex;
   flex-direction: column;
}
.Minecraft-container{
   width: 100vw;
   height: 80vh ;
   background-color: aqua;
   display: grid;
   grid-template: repeat(11,1fr) / repeat(22,1fr);
}
.cell{
   width: auto ;
   height:  auto;
   
   
}
.tools-container{
   width: 100% ;
   height: 20vh ;
   background-color:gray;
   display: flex;
   align-items: center;
   justify-content: center;
}
.axe-container,
.pickaxe-container,
.shovel-container{
   width: 12rem ;
   height: 100% ;
   padding: 5px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.axe-tool,.pickaxe-tool,
.shovel-tool{
   width: 5rem ;
   height: 50% ;
   border: #ccc 3px solid;
   cursor: pointer;
}
.axe-tool{
   background: url(/images/axe.png) center center / cover no-repeat ;
}
.pickaxe-tool{
   background: url(/images/pickaxe.png) center center / cover no-repeat ;
}
.shovel-tool{
   background: url(/images/shovel.png) center center / cover no-repeat ;
}
.axe-invitory,.shovel-invitory{
   display: flex;
   flex-direction: column;
}
.wood-invitory,
.leaves-invitory,
.rock-invitory,
.grass-invitory,
.soil-invitory{
   border: #ccc 3px solid;
   width: 2rem ;
   height: 2rem ;
   margin: 2px;
   cursor: pointer;
}
.wood-invitory{
   background: url(/images/tree.png) center center /cover no-repeat ;
}
.leaves-invitory{
   background: url(/images/tree-leaves.png) center center / cover no-repeat ;
}
.rock-invitory{
   background: url(/images/rock.png) center center /cover no-repeat ;
}
.grass-invitory{
   background: url(/images/grass.png) center center / cover no-repeat ;
}
.soil-invitory{
   background: url(/images/soil.jpg) center center / cover no-repeat ;
}
.axe-count{
   display: flex;
   flex-direction: column
}
.wood-count,
.leaves-count,
.rock-count,
.grass-count,
.soil-count{
   color: aliceblue;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1rem;
   display: inline-block;
   margin: 8px;
}
.wood{
   background: url(/images/tree.png) center center /cover no-repeat ;
}
.rock{
   background: url(/images/rock.png) center center /cover no-repeat ;
}
.soil{
   background: url(/images/soil.jpg) center center / cover no-repeat ;
}
.axe{
   background: url(/images/axe.png) center center / cover no-repeat ;
}
.pickaxe{
   background: url(/images/pickaxe.png) center center / cover no-repeat ;
}
.shovel{
   background: url(/images/shovel.png) center center / cover no-repeat ;
}
.grass{
   background: url(/images/grass.png) center center / cover no-repeat ;
}
.leaves{
   background: url(/images/tree-leaves.png) center center / cover no-repeat ;
}


@media (max-width:511px){
   .tools-container{
      width: 100% ;
      height: 20vh ;
      background-color:gray;
      display: flex;
      flex-flow: column wrap;
   }
   .axe-container,
   .pickaxe-container,
   .shovel-container{
      width: fit-content ;
      height: fit-content ;
      padding: 5px;
}
   .axe-tool,.pickaxe-tool,
   .shovel-tool{
   width: 2.5rem ;
   height:  2.5rem ;
}
   .wood-invitory,
   .leaves-invitory,
   .rock-invitory,
   .grass-invitory,
   .soil-invitory{
      width: 1rem ;
      height: 1rem ;
   }
   .wood-count,
   .leaves-count,
   .rock-count,
   .grass-count,
   .soil-count{
      font-size: 0.7rem;
      margin: 4px;
   }
}