*{
   box-sizing: border-box;
   margin: 0;
   padding:  0;
}

body{
   display: flex;
   flex-direction: column;
}
.Minecraft-container{
   width: 100vw;
   height: 80vh ;
   background-color: aqua;
   display: grid;
   /* grid-template: repeat(15,1fr) / repeat(22,1fr); */
   grid-template: repeat( auto-fill,10vmin) / repeat(auto-fill,10vmin)
}
.cell{
   /* width: 100% ; */
   /* height:  100%; */
   /* aspect-ratio: auto 1 / 1; */
   /* object-fit: cover; */
}
.tools-container{
   width: 100% ;
   height: 20vh ;
   background-color:bisque;
}


.tree{
   background: url(/images/tree.png) center center /cover no-repeat ;
}
.rock{
   background: url(/images/rock.png) center center /cover no-repeat ;
}
.soil{
   background: url(/images/soil.jpg) center center /cover no-repeat ;
}
.axe{
   background: url(/images/axe.png) center center /cover no-repeat ;
}
.pickaxe{
   background: url(/images/pickaxe.png) center center /cover no-repeat ;
}
.shovel{
   background: url(/images/shovel.png) center center /cover no-repeat ;
}
.grass{
   background: url(/images/grass.png) center center /cover no-repeat ;

}

.leaves{
   background: url(/images/tree-leaves.png) center center /cover no-repeat ;

}